[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gdal = "==3.8.5"
django = {extras = ["gis"], version = "*"}
djangorestframework-gis = "*"

[dev-packages]

[requires]
python_version = "3.11"
